* {
  box-sizing: border-box;
  margin: 0px 0px;
}

body {
  overflow-x: hidden;
}

/* Containers */
.hero-container {
  background: url(../img/join.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  position: fixed;
  top: 0px;
  height: 50vh;
  z-index: 0;
}

.hero-text-container {
  width: 60vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero-img {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0px;
  z-index: -101;
  left: 0px;
}

/* Content */

.container {
  width: 60vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}

.content {
  position: relative;
  top: 50vh;
  width: 100vw;
  padding-top: 60px;
  z-index: 1000;
  background-color: #fff;
}

/* Profile Grid */

.profilegrid {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

.profimg {
  width: 13vw;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

.profile {
  margin: 5px;
}

.name {
  padding-top: 2%;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #0070BF;
  font-size: 1.2em;
  text-align: center;
}

.profimg-container {
  position: relative;

}

.position {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #919EAE;
  font-size: 1em;
  text-align: center;
}

.linkedin {
  transition: .25s ease;
  opacity: 0;
  position: absolute;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.linkedin a {
  height: 100%;
  width: 100%;
}

.profimg-container:hover .profimg  {
  opacity: .3;
}

.profimg-container:hover .linkedin{
  opacity: 1;
}

/* Fonts */

h1 {
  font-size: 2.5em;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #0070BF;
  font-weight: 400;
}

h2 {
  font-size: 1.85em;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #0070BF;
  font-weight: 400;
}

h3 {
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #0070BF;
  font-weight: 400;
}

h4 {
  font-family: 'Nunito', sans-serif;
  color: #0070BF;
  text-align: center;
  font-weight: 400;
  font-size: 1.85em;
  padding-bottom: 2%;
}

p {
  font-family: 'Nunito', sans-serif;
  color: #919EAE;
  text-align: center;
  font-weight: 200;
  font-size: 1em;
}

hr {
  border: 1px solid #0070BF;
  background-color: #0070BF;
  width: 70px;
  height: -5px;
  position: relative;
  margin: 2% auto 3% auto;
  border-radius: 5px;

}

/* Button */

.button {
  width: 136px;
  background: rgba(0,112,207,.8);
  border-style: none;
  border-radius: 24px;
  padding: 3px 10px;
  position: relative;
  margin: 30px auto 0 auto;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0,0,0,.4);
  text-decoration: none;
  transition-duration: .25s;
}

.button a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 200;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
}

.button:hover {
  box-shadow: none;
}
