* {
  box-sizing: border-box;
  margin: 0px 0px;
}

body {
  overflow-x: hidden;
}

.hero-container {
  background: url(/img/join.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  position: fixed;
  top: 0px;
  height: 50vh;
  z-index: 0;
}

.hero-text-container {
  width: 60vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;
}

.hero-img {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0px;
  z-index: -101;
  left: 0px;
}

/* Content */

.container {
  width: 60vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}

.content {
  position: relative;
  top: 50vh;
  width: 100vw;
  padding-top: 60px;
  z-index: 1000;
  background-color: #fff;
}

/* Flex Box */

.service-flex {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px
}

.flex-item {
  flex: 1 0 auto;
  border-radius: 10px;
  width: 30%;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #0070BF;
  font-weight: 200;
  background-color: #F8F8F8;
  align-content: center;
  transition: .25s ease;
  margin: 5px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-img {
  width: 30%;
  height: auto;
}

.item-hr {
  margin: 7% auto 8% auto;
}

.flex-img {
  filter: invert(31%) sepia(98%) saturate(1022%) hue-rotate(178deg) brightness(92%) contrast(109%);
  margin-bottom: 4%;
}

/* Button */

.button {
  width: 136px;
  background: rgba(0,112,207,.8);
  border-style: none;
  border-radius: 24px;
  padding: 3px 10px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0,0,0,.4);
  text-decoration: none;
  transition-duration: .25s;
}

.button a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 200;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
}

.container-button {
  margin-top: 3%;
}

.button:hover {
  box-shadow: none;
}


/* Fonts */

h1 {
  font-size: 2.5em;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #0070BF;
  font-weight: 400;
}

h2 {
  font-size: 1.85em;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #0070BF;
  font-weight: 400;
}

h3 {
  font-size: 1.4em;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #0070BF;
  font-weight: 400;
}

h4 {
  font-family: 'Nunito', sans-serif;
  color: #0070BF;
  text-align: center;
  font-weight: 400;
  font-size: 1.85em;
  padding-bottom: 2%;
}

p {
  font-family: 'Nunito', sans-serif;
  color: #919EAE;
  text-align: center;
  font-weight: 200;
  font-size: 1em;
}

hr {
  border: 1px solid #0070BF;
  background-color: #0070BF;
  width: 70px;
  height: -5px;
  position: relative;
  margin: 2% auto 3% auto;
  border-radius: 5px;
}
